@import '../additionals/setup.scss';

#SECRETSANTA_PAGE {
    @include flexBox(column, flex-start, center);
    padding: 5rem 0;
    gap: 2rem;
    .title {
        width: 90%;
        max-width: 40rem;
        text-align: center;
        font-size: 3rem;
        font-family: $heading;
    }
    .createGroup {
        // @include glass;
        @include button(var(--dark-1), var(--dark-1), white);
        @include button(transparent, var(--dark-1), var(--dark-1));
        @include button(var(--dark-1), var(--dark-1), white);
        padding: 0.7rem 3rem;
        font-weight: 600;
        font-size: 1.2rem;
        font-family: $heading;
        &:hover {
            @include button(transparent , var(--dark-1), var(--dark-1));
            @include glass;
            padding: 0.7rem 3rem;
            transition: background border 0.4s;
            font-weight: 600;
            font-size: 1.2rem;
            font-family: $heading;
            border-radius: 10px;
            border: 2px solid var(--dark-1);
        }
    }
}