@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dosis:wght@200..800&family=Inter:wght@100..900&family=Kalam:wght@300;400;700&family=Kanit:wght@600&family=Karla:wght@600&family=Kumbh+Sans&family=Lacquer&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Press+Start+2P&family=Roboto&family=Roboto+Slab:wght@700&family=Rock+Salt&family=Rowdies:wght@300;400;700&family=Rubik&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Syne:wght@400..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --gray-1: #9F9B9B;
  --gray-2: #D9D9D9;
  --dark-1: #333439;
  --dark-2: #737479;
  --dark-3: #4C4940;
  --gold: #E99B26;
  --peachy: #FFC6BF;
  --orange: #FF804D;
  --sunshine: #FFE59B;
  --pinky-peach: #FDC7C5;
  --sky: #C4DEEF;
  --minty: #92FDCB;
  --grass: #BDFF9D;
  --rosy: #ED9595;
  --lavender: #9787AB;
  --bg-dirty-white: #FFF8EE;
  --ocean: #A0A5C6;
  --violet: #7F7FD5;
  --dark-violet: #4d50a7;
  --dark-violet-2: #525370;
  --light-bg:rgba(207, 203, 203, 0.356);
  --opaque-dark: #33343990; }

@font-face {
  font-family: "Power Grotesk";
  src: url("../../font/PowerGrotesk-Regular.ttf"); }

@font-face {
  font-family: Power Grotesk;
  src: url("../../font/PowerGrotesk-Regular.ttf"); }

/* TRANSITIONS:
- FADEIN
- TOPSWING
- spread
*/
@-webkit-keyframes FADEIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes FADEIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes TOPSWING {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes TOPSWING {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spread {
  0% {
    max-width: 0; }
  100% {
    max-width: 100px; } }

@keyframes swipeTop {
  0% {
    margin-bottom: -20px;
    opacity: 0; }
  100% {
    margin-bottom: 0;
    opacity: 1; } }

@keyframes swipeLeft {
  0% {
    margin-left: -20px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }

@keyframes swipeBottom {
  0% {
    margin-bottom: -20px;
    opacity: 0; }
  100% {
    margin-bottom: 0;
    opacity: 1; } }

.FADEIN {
  -webkit-animation: FADEIN 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: FADEIN 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.TOPSWING {
  -webkit-animation: TOPSWING 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: TOPSWING 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SWIPETOP {
  -webkit-animation: swipeTop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swipeTop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SWIPELEFT {
  -webkit-animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SWIPEBOTTOM {
  -webkit-animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SPREAD {
  -webkit-animation: spread 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: spread 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Inter", "Poppins", sans-serif;
  color: var(--dark-1); }

.flex {
  display: flex; }

.flex_col {
  display: flex;
  flex-direction: column; }

.bg {
  filter: blur(2px); }

a {
  text-decoration: none; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#RUNROULETTE_PAGE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; }
  #RUNROULETTE_PAGE .page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 45rem;
    padding-bottom: 2rem; }
  #RUNROULETTE_PAGE .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    #RUNROULETTE_PAGE .header .returnButton {
      padding: 0.3rem 2rem;
      background-color: var(--dark-1);
      opacity: 90%;
      border: 2px solid var(--dark-1);
      color: white;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      font-family: "Plus Jakarta Sans", "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1rem; }
      #RUNROULETTE_PAGE .header .returnButton i {
        color: white;
        margin-right: 1rem; }
  #RUNROULETTE_PAGE .roulette_svg {
    width: 5rem;
    height: 5rem;
    background-image: url("../../../images/svgs/roulette_00001.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 100%;
    animation: spin 1s  infinite; }
  #RUNROULETTE_PAGE .randomizer {
    width: 100%;
    margin: 2rem 0; }
    #RUNROULETTE_PAGE .randomizer h1 {
      width: 100%;
      text-align: center;
      font-family: "Plus Jakarta Sans", "Poppins", sans-serif; }
    #RUNROULETTE_PAGE .randomizer .images {
      margin: 1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      #RUNROULETTE_PAGE .randomizer .images .card {
        display: flex;
        width: 15rem;
        flex-direction: column;
        padding: 1rem 1.3rem;
        border-radius: 8px;
        opacity: 90%;
        cursor: pointer;
        transition: background-color 0.5s;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        opacity: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 3px solid #00000070;
        border: 2px solid rgba(0, 0, 0, 0.3);
        background-color: white; }
        #RUNROULETTE_PAGE .randomizer .images .card:hover {
          opacity: 100%; }
        #RUNROULETTE_PAGE .randomizer .images .card img {
          width: 100%;
          max-height: 15rem;
          border-radius: 5px; }
        #RUNROULETTE_PAGE .randomizer .images .card h3 {
          width: 100%;
          text-align: center;
          margin: 5px 0; }

#RUNROULETTE_PAGE .wishlist {
  width: 100%;
  justify-content: center; }
  #RUNROULETTE_PAGE .wishlist .line {
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    #RUNROULETTE_PAGE .wishlist .line button {
      padding: 0.3rem 2rem;
      background-color: transparent;
      opacity: 90%;
      border: 2px solid var(--dark-1);
      color: var(--dark-1);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      font-family: "Plus Jakarta Sans", "Poppins", sans-serif; }
  #RUNROULETTE_PAGE .wishlist .wishlist_box {
    border-radius: 8px;
    opacity: 90%;
    cursor: pointer;
    transition: background-color 0.5s;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.4rem 1rem;
    margin: 1rem 0;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.3); }
    #RUNROULETTE_PAGE .wishlist .wishlist_box:hover {
      opacity: 100%; }
    #RUNROULETTE_PAGE .wishlist .wishlist_box .wishlist_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #RUNROULETTE_PAGE .wishlist .wishlist_box .wishlist_header button {
        padding: 0.3rem 2rem;
        background-color: var(--dark-1);
        opacity: 90%;
        border: 2px solid var(--dark-1);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s; }
    #RUNROULETTE_PAGE .wishlist .wishlist_box .wishlist_list {
      padding: 1rem 0;
      gap: 0.7rem; }
      #RUNROULETTE_PAGE .wishlist .wishlist_box .wishlist_list .wishlist_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 1rem 1.5rem;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        border-radius: 5px; }
        #RUNROULETTE_PAGE .wishlist .wishlist_box .wishlist_list .wishlist_item .left i {
          margin-right: 1.5rem; }

/*# sourceMappingURL=runRoulette.css.map */