@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dosis:wght@200..800&family=Inter:wght@100..900&family=Kalam:wght@300;400;700&family=Kanit:wght@600&family=Karla:wght@600&family=Kumbh+Sans&family=Lacquer&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Press+Start+2P&family=Roboto&family=Roboto+Slab:wght@700&family=Rock+Salt&family=Rowdies:wght@300;400;700&family=Rubik&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Syne:wght@400..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --gray-1: #9F9B9B;
  --gray-2: #D9D9D9;
  --dark-1: #333439;
  --dark-2: #737479;
  --dark-3: #4C4940;
  --gold: #E99B26;
  --peachy: #FFC6BF;
  --orange: #FF804D;
  --sunshine: #FFE59B;
  --pinky-peach: #FDC7C5;
  --sky: #C4DEEF;
  --minty: #92FDCB;
  --grass: #BDFF9D;
  --rosy: #ED9595;
  --lavender: #9787AB;
  --bg-dirty-white: #FFF8EE;
  --ocean: #A0A5C6;
  --violet: #7F7FD5;
  --dark-violet: #4d50a7;
  --dark-violet-2: #525370;
  --light-bg:rgba(207, 203, 203, 0.356);
  --opaque-dark: #33343990; }

@font-face {
  font-family: "Power Grotesk";
  src: url("../../font/PowerGrotesk-Regular.ttf"); }

@font-face {
  font-family: Power Grotesk;
  src: url("../../font/PowerGrotesk-Regular.ttf"); }

/* TRANSITIONS:
- FADEIN
- TOPSWING
- spread
*/
@-webkit-keyframes FADEIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes FADEIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes TOPSWING {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes TOPSWING {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spread {
  0% {
    max-width: 0; }
  100% {
    max-width: 100px; } }

@keyframes swipeTop {
  0% {
    margin-bottom: -20px;
    opacity: 0; }
  100% {
    margin-bottom: 0;
    opacity: 1; } }

@keyframes swipeLeft {
  0% {
    margin-left: -20px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }

@keyframes swipeBottom {
  0% {
    margin-bottom: -20px;
    opacity: 0; }
  100% {
    margin-bottom: 0;
    opacity: 1; } }

.FADEIN {
  -webkit-animation: FADEIN 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: FADEIN 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.TOPSWING {
  -webkit-animation: TOPSWING 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: TOPSWING 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SWIPETOP {
  -webkit-animation: swipeTop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swipeTop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SWIPELEFT {
  -webkit-animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SWIPEBOTTOM {
  -webkit-animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swipeLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.SPREAD {
  -webkit-animation: spread 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: spread 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Inter", "Poppins", sans-serif;
  color: var(--dark-1); }

.flex {
  display: flex; }

.flex_col {
  display: flex;
  flex-direction: column; }

.bg {
  filter: blur(2px); }

a {
  text-decoration: none; }

#OPENGIFTING_PAGE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #OPENGIFTING_PAGE .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    overflow: hidden;
    opacity: 90%;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-image: url("../../images/static_images/kids.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-blend-mode: darken;
    width: 100%;
    padding: 1rem 1rem;
    background-position: center top;
    background: linear-gradient(rgba(65, 64, 64, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.shutterstock.com/image-photo/group-children-running-park-happy-600nw-2156594721.jpg"); }
    #OPENGIFTING_PAGE .header h1 {
      color: white;
      font-family: "Plus Jakarta Sans", "Poppins", sans-serif;
      font-size: 3rem;
      width: 70vw;
      max-width: 900px;
      text-align: center;
      margin: 1rem 0; }
    #OPENGIFTING_PAGE .header .searchBar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start center;
      align-items: stretch;
      padding: 0.2rem;
      background-color: white;
      border-radius: 3px;
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      padding: 1rem 2rem;
      width: 35vw;
      border-radius: 100px;
      opacity: 85%;
      transition: 0.4s;
      border: none;
      gap: 1rem; }
      #OPENGIFTING_PAGE .header .searchBar input {
        border: none;
        outline: none;
        flex: 1;
        background-color: transparent; }
      #OPENGIFTING_PAGE .header .searchBar textarea {
        width: 100%; }
      #OPENGIFTING_PAGE .header .searchBar:hover {
        opacity: 100%;
        width: 40vw; }
  #OPENGIFTING_PAGE .organizations {
    width: 94%;
    margin: 2rem 0;
    max-width: 1250px; }
    #OPENGIFTING_PAGE .organizations .title {
      font-family: "Plus Jakarta Sans", "Poppins", sans-serif;
      font-size: 2.3rem;
      padding: 1rem 2rem; }
    #OPENGIFTING_PAGE .organizations .organization_list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      row-gap: 2rem;
      padding: 2rem 2rem; }
      @media screen and (max-width: 768px) {
        #OPENGIFTING_PAGE .organizations .organization_list {
          grid-template-columns: repeat(1, 1fr);
          height: 100%; } }
      #OPENGIFTING_PAGE .organizations .organization_list .item {
        border-radius: 8px;
        opacity: 90%;
        cursor: pointer;
        transition: background-color 0.5s;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.5rem 0.7rem;
        gap: 1rem;
        max-height: 50rem; }
        #OPENGIFTING_PAGE .organizations .organization_list .item:hover {
          opacity: 100%; }
        #OPENGIFTING_PAGE .organizations .organization_list .item:hover {
          transform: scale(0.94); }
        @media screen and (max-width: 1080px) {
          #OPENGIFTING_PAGE .organizations .organization_list .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start; } }
        #OPENGIFTING_PAGE .organizations .organization_list .item img {
          width: 15rem;
          height: 100%;
          max-height: 12rem;
          height: 12rem;
          border-radius: 8px;
          opacity: 90%;
          cursor: pointer;
          transition: background-color 0.5s;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3); }
          #OPENGIFTING_PAGE .organizations .organization_list .item img:hover {
            opacity: 100%; }
          @media screen and (max-width: 1080px) {
            #OPENGIFTING_PAGE .organizations .organization_list .item img {
              width: 100%;
              max-height: 15rem;
              height: 17rem; } }
        #OPENGIFTING_PAGE .organizations .organization_list .item .description {
          width: 60%;
          height: 100%; }
          @media screen and (max-width: 1080px) {
            #OPENGIFTING_PAGE .organizations .organization_list .item .description {
              width: 100%; } }
          #OPENGIFTING_PAGE .organizations .organization_list .item .description h1 {
            font-size: 1.5rem;
            margin: 1rem 0; }
          #OPENGIFTING_PAGE .organizations .organization_list .item .description p {
            font-size: 0.9rem;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; }

/*# sourceMappingURL=openGifting.css.map */