
{% extends '../layout.html' %}

{% load sass_tags static %}

{% block title %}Open Gifting{% endblock %}

{% block css %}
<link href="{% sass_src 'scss/pages/friends.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
    <div id="FRIENDS_PAGE">
        <div class="page_content">
            <h1 class="header">Your Friends</h1>

            <div class="your_friends">
                <div class="item">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="100" height="100">
                    <div class="description">
                        <h1>Maxine Nicole Bernales</h1>
                        <!-- <p>Friends</p> -->
                    </div>
                </div>
                <div class="item">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="100" height="100">
                    <div class="description">
                        <h1>Maxine Nicole Bernales</h1>
                        <!-- <p>Friends</p> -->
                    </div>
                </div>
                <div class="item">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="100" height="100">
                    <div class="description">
                        <h1>Maxine Nicole Bernales</h1>
                        <!-- <p>Friends</p> -->
                    </div>
                </div>
                <div class="item">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="100" height="100">
                    <div class="description">
                        <h1>Maxine Nicole Bernales</h1>
                        <!-- <p>Friends</p> -->
                    </div>
                </div>
                <div class="item">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="100" height="100">
                    <div class="description">
                        <h1>Maxine Nicole Bernales</h1>
                        <!-- <p>Friends</p> -->
                    </div>
                </div>
                <div class="item">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="100" height="100">
                    <div class="description">
                        <h1>Maxine Nicole Bernales</h1>
                        <!-- <p>Friends</p> -->
                    </div>
                </div>
            </div>


            <h1 class="header">Explore New People</h1>
            <div class="explore_new_friends">
                <div class="item">
                    <img src="https://img.freepik.com/free-photo/portrait-little-smiley-boy-outdoor_23-2148852691.jpg" class="member_pic">
                    <div class="description">
                        <h1>Juan Tamad</h1>
                    </div>
                    <button class="checkWishlistButton">
                        <i class="fas fa-user-plus"></i>
                        Add Friend
                    </button>
                </div>
                <div class="item">
                    <img src="https://img.freepik.com/free-photo/portrait-little-smiley-boy-outdoor_23-2148852691.jpg" class="member_pic">
                    <div class="description">
                        <h1>Juan Tamad</h1>
                    </div>
                    <button class="checkWishlistButton">
                        <i class="fas fa-user-plus"></i>
                        Add Friend
                    </button>
                </div>
                <div class="item">
                    <img src="https://img.freepik.com/free-photo/portrait-little-smiley-boy-outdoor_23-2148852691.jpg" class="member_pic">
                    <div class="description">
                        <h1>Juan Tamad</h1>
                    </div>
                    <button class="checkWishlistButton">
                        <i class="fas fa-user-plus"></i>
                        Add Friend
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}