
{% extends '../layout.html' %}

{% load sass_tags static %}

{% block title %}Open Gifting{% endblock %}

{% block css %}
<link href="{% sass_src 'scss/pages/secretSanta.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div id="SECRETSANTA_PAGE" class="PAGE">
        <h1 class="title SWIPETOP">Create a group with your friends and set up Secret Santas!</h1>
        <a href="{% url 'createGroup' %}">
            <button class="createGroup button">Create Group</button>
        </a>
    </div>
{% endblock %}